@import './variables.scss';
* {
  box-sizing: border-box;
}

body {
  color: $text;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

body input,
button {
  border: none;
  font-size: 100%;
  outline: none;
}

.weather-channel__container {
  background: $white;
  height: 100vh;
  position: relative;
  border-radius: 10px;
}

@media only screen and (min-width: 800px) {
  .weather-channel__container {
    max-width: 800px;
    margin: 3rem auto 0 auto;
    height: auto;
    box-shadow: 5px 5px 10px $text;
  }
  .weather-channel__footer {
    clear: both;
    padding: 8px 30px;
    height: auto;
  }
}
@media only screen and (min-width: 480px) {
  .weather-condition,
  .weather-forecast {
    float: left;
    width: 50%;
  }
  .weather-forecast {
    margin: 1rem 0;
    padding: 0 2rem;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.block-ui-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
