@import './variables.scss';
header {
  background-color: $theme;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
  .header__logo {
    margin-right: 10px;
    vertical-align: middle;
    width: 40px;
  }
  .header__title {
    color: $white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    vertical-align: middle;
  }
}
