@import './variables.scss';
.forecast__switch {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  button {
    width: 30%;
    background-color: #ddd;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    margin: 1px;
    padding: 3px 18px;
  }
  button.forecast__switch_0 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  button.forecast__switch_1 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  button.switch-active {
    background-color: $button;
    color: $white;
  }
}
