* {
  box-sizing: border-box;
}

body {
  color: #666;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
body input,
button {
  border: none;
  font-size: 100%;
  outline: none;
}

.weather-channel__container {
  background: #ffffff;
  height: 100vh;
  position: relative;
  border-radius: 10px;
  
}
@media only screen and (min-width: 800px) {
  .weather-channel__container {
    max-width: 800px;
    margin: 3rem auto 0 auto;
    height: auto;
    box-shadow: 5px 5px 10px #666;
  }
  .weather-channel__footer {
    /* background-color:  */
    clear: both;
    padding: 8px 30px;
  }
}
@media only screen and (min-width: 480px) {
  .weather-condition,
  .weather-forecast {
    float: left;
    width: 50%;
  }
  .weather-forecast {
    margin: 1rem 0;
    padding: 0 2rem;
  }
}

header {
  background-color: #00ff9b;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
  
}
.header__logo {
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
}
.header__title {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  vertical-align: middle;
}

nav {
  border-bottom: solid 2px rgba(187, 187, 187, 0.32);
  padding: 0.8rem 0 0.8rem 1rem;
  display: flex;
}
.search-input {
  font-size: 100%;
  border-radius: 30px;
  background-color: #ccc;
  color: #ffffff;
  padding: 0.5rem;
}
.search-input::placeholder{
  color:#ffffff;
}
.search-btn {
  margin-left:5px;
  border-radius: 50%;
  background-color: rgb(0, 193, 223);
  cursor: pointer;
  color: white;
  height: 27px;
}
.temp-switch {
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(0, 193, 223);
  font-size: 0.9rem;
  margin-left: 35px;
  padding: 5px 28px 5px 28px;
}
.temp-switch__icon {
  padding-right: 5px;
}
/* end tool bar */

.weather-condition {
  margin-bottom: 50px;
}
.weather-condition__location {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.weather-condition__overview {
  text-align: center;
  font-size: 14px;
}
.weather-condition__desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 0.3rem; */
  margin: 2rem 5rem 0 5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  /* padding: 4%; */
}
.weather-condition__desc img {
  vertical-align: middle;
}
.weather-condition__desc .citem {
  padding: 0 0 3px 5px;
  color: #666;
  font-size: 1rem;
}
.weather-condition__temp {
  color: #666;
  margin-top: 0.75rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.forecast__switch {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.forecast__switch button {
  width: 30%;
  background-color: #ddd;
  color: #999;
  font-size: 14px;
  cursor: pointer;
  margin: 1px;
  padding: 3px 18px;
}
.forecast__switch button.switch-active {
  background-color: rgb(0, 193, 223);
  color: #fff;
}
button.forecast__switch_0 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
button.forecast__switch_1 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.weather-forecast__row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 0.4rem;
}
.weather-forecast__day {
  flex: 0.1;
  text-transform: uppercase;
}
.weather-forecast__icon {
  flex: 0.2;
  text-align: right;
}
.weather-forecast__icon img {
  width: 25px;
}

.weather-forecast__high,
.weather-forecast__low {
  flex: 0.3;
  text-align: right;
  color: #666;
}

.weather-channel__footer {
  background-color: #00ff9b;
  border-radius: 0 0 10px 10px; 
}
.weather-channel__footer p {
  margin: 3px auto;
  text-align: center;
  color:#ffffff;
}

.onoffswitch {
  /* justify-self: flex-end; */
  margin-top: 5px;
  margin-right: 15px;
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #666999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #003eff;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #666999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 28px;
  height: 28px;
  margin: -1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 1px solid #d7d5d5;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.block-ui-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
